<div class="container" >
    <div class="card" style="width: 500px;">
        <div class="card-head">
            <p class="d-flex justify-content-center">Registration</p>
        

        </div>
        <div class="card-body">
            <label>UserName:</label>
            <input placeholder="Enter you name" type="text" class="form-control"/>
            <label>PassWord:</label>
            <input placeholder="Enter you password" type="text" class="form-control"/>
        </div>
        
      </div>

</div>