<div class="container" style="padding: 20px">
  <div class="row">
    <div class="col shadow-lg p-3 mb-5 bg-warning rounded m-1">
      <div class="row">
        <div class="col">TotalCourse</div>
        <div class="col">10</div>
      </div>
    </div>
    <div class="col shadow-lg p-3 mb-5 bg-primary rounded m-1">
      <div class="row">
        <div class="col">TodayAdded</div>
        <div class="col">1</div>
      </div>
    </div>
    <div class="col shadow-lg p-3 mb-5 bg-info rounded m-1">
      <div class="row">
        <div class="col">Pending</div>
        <div class="col">4</div>
      </div>
    </div>
    <div class="col shadow-lg p-3 mb-5 bg-success rounded m-1">
      <div class="row">
        <div class="col">Deleted</div>
        <div class="col">1</div>
      </div>
    </div>
  </div>
  <div class="row" style="height: 300px">
    <div class="col-8 shadow p-3 mb-5 bg-white rounded">col-sm-8</div>
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    <div
      class="col-3 shadow p-3 mb-5 bg-white rounded"
      style="overflow-y: scroll"
    >
      <mat-card class="example-card" style="height: 50px">
        
        <div class="row">
          <div class="col-6">
            <img
              src="../../../../../assets/png-transparent-user-computer-icons-user-miscellaneous-cdr-rectangle-thumbnail.png"
              style="height: 25px; width: 25px; margin-left: 9px"
            />
          </div>
          <div class="col-6">
            <div style="margin-left: -80px">
              <h6 class="cardname">Name:sample</h6>
              <h6 class="cardname">Destination:English</h6>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
  <div class="row" style="height: 190px">
    <div class="col-12 shadow p-3 mb-5 bg-white rounded"></div>
  </div>
</div>
