<mat-card style="width: 500px">
  <mat-card-content>
    <img
      style="
        width: 110px;
        height: 100px;
        border-radius: 72px;
        border: solid 5px black;
      "
      src="../../../../../assets/png-transparent-user-computer-icons-user-miscellaneous-cdr-rectangle-thumbnail.png"
    />
    <br />
    &nbsp;
    <p><mat-icon>account_circle</mat-icon>&nbsp; Name:</p>
    <hr />
    <!-- 
    <p><mat-icon>perm_phone_msg</mat-icon> &nbsp;PhoneNumber: 45631545154</p>
    <hr />
    <p>
      <mat-icon>view_agenda</mat-icon> &nbsp;address: 2-200 A Koottangal vilai
    </p>
    <hr />
    <p><mat-icon>work</mat-icon> &nbsp;city:Marthandam</p>
    <hr />
    <p><mat-icon> call</mat-icon> &nbsp;State:TamilNadu</p>
    <hr />
    <p><mat-icon> list_alt</mat-icon> &nbsp;EmailId:sample@gmail.com</p>
    <hr />
    <p><mat-icon>supervised_user_circle</mat-icon>&nbsp;Role :Admin</p> -->
  </mat-card-content>
</mat-card>
