<mat-card class="example-form">
  <form [formGroup]="changeForm">
    <mat-form-field class="example-full-width">
      <mat-label>Previous Password</mat-label>
      <input
        type="text"
        formControlName="prepassword"
        matInput
        placeholder="******"
      />
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>New Password</mat-label>
      <input
        type="text"
        formControlName="newpassword"
        matInput
        placeholder="******"
      />
    </mat-form-field>
    <button mat-stroked-button color="accent" [mat-dialog-close]="true">
      Back
    </button>
    &nbsp;&nbsp;&nbsp;
    <button mat-stroked-button color="primary" mat-dialog-close (click)="Onchangepassword()">
      Submit
    </button>
  </form>
</mat-card>
