<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="div">
        <p style="color: red; padding: 20px">Flat 50% Offer for Course</p>
      </div>
      <img
        src="../../../../../../assets/online-survey-3d-render-laptop-form-with-ticks.jpg"
        style="width: 60%; margin-top: 30px"
        class="shadow p-3 mb-5 bg-white rounded"
      />
    </div>
    <div class="col-6">
      <img
        src="../../../../../../assets//—Pngtree—online network online education class_6184729.png"
        style="width: 70%"
      />
    </div>
  </div>
</div>
