<div class="container">
  <div class="row">
    <div class="col-6">
      <p class="emp">Flat 50% Offer for Course</p>
      <button class="btn btn-primary" style="margin-left: 156px">Check</button>
    </div>
    <div class="col-6">
      <img
        class="shadow-lg p-3 mb-5 bg-white rounded"
        src="../../../../../../assets/pexels-julia-m-cameron-4145153.jpg"
        style="width: 85%"
      />
    </div>
  </div>
</div>
<div class="container">
  <h1 class="coursehead">A broad selection of courses</h1>
  <p style="font-family: auto">
    Choose from 213,000 online video courses with new additions published every
    month
  </p>
  &nbsp;
  <!-- businees -->
  <div class="container">
    <div class="row">
      <div
        class="col-6"
        style="
          padding-left: 134px;
          margin-top: 97px;
          font-size: 23px;
          font-family: auto;
        "
      >
        <h1 style="border: solid 1px #1b171a; width: 101px; color: orangered">
          Learn Jo
        </h1>
        <p>Upskill your team with <br />LearnJo Business</p>
        <ul>
          <li>
            Unlimited access to 19,000+ top Udemy courses, anytime, anywhere
          </li>
          <li>International course collection in 14 languages</li>
          <li>Top certifications in tech and business</li>
        </ul>
        <button type="button" class="btn btn-outline-primary">
          GetBy LearnJo
        </button>
        &nbsp;
        <button type="button" class="btn btn-outline-primary">
          Learn More
        </button>
      </div>
      <div class="col-6">
        <img
          class="shadow-lg p-3 mb-5 bg-white rounded"
          style="width: 400px; height: 400px"
          src="https://s.udemycdn.com/home/non-student-cta/UB_Promo_800x800.jpg"
        />
      </div>
    </div>
  </div>

  <!-- tutor Request Area -->
  <div class="container">
    <div class="row">
      <div class="col-6">
        <img
          class="shadow-lg p-3 mb-5 bg-white rounded"
          src="https://s.udemycdn.com/home/non-student-cta/instructor-1x-v3.jpg"
        />
      </div>
      <div class="col-6" style="margin-top: 180px">
        <h1 style="font-size: 48px; font-family: auto">Become an instructor</h1>
        <p style="font-family: auto">
          Instructors from around the world teach millions of students on Udemy.
          We provide the tools and skills to teach what you love.
        </p>
        <button type="button" class="btn btn-primary">Tutor Request</button>
      </div>
    </div>
  </div>
</div>
