<mat-card class="example-form">
  <form [formGroup]="CouponForm">
    <mat-form-field class="example-full-width">
      <mat-label>Coupon Text</mat-label>
      <input
        type="text"
        formControlName="couponString"
        matInput
        placeholder="Enter Coupon Text"
      />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Coupon Percentage</mat-label>
      <input matInput type="text" formControlName="discountPercentage" />
    </mat-form-field>
    <section>
      <mat-checkbox formControlName="activeFlag" class="example-margin"
        >Active</mat-checkbox
      >
    </section>
    <mat-form-field class="example-full-width">
      <mat-label>From Date</mat-label>
      <input
        type="date"
        formControlName="startDate"
        matInput
        placeholder="Enter from Date"
      />
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Due Date</mat-label>
      <input
        type="date"
        formControlName="endDate"
        matInput
        placeholder="Enter from Due Date"
      />
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Purpose Of Coupon</mat-label>
      <input formControlName="purposeOfCoupon" matInput type="text" />
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="OnSubmit()">
      Submit</button
    >&nbsp;&nbsp;
    <button mat-raised-button color="accent" (click)="onNoClick()">
      Close
    </button>
  </form>
</mat-card>
